{%extends 'layout.html'%}
{%block content%}
<div class="container-fluid d-grid">
    <h1
      id="about-us-title"
      class="mx-auto mt-2 mb-5 fw-bold font-monospace border-bottom border-danger"
    >
      SOS Hotline in India
    </h1>
    <div class="container-sm mx-auto">
        <ul class="list-group">
            <li class="list-group-item"><h4>Tele MANAS</h4>Contact Number: 1-800 891 4416 <br><a class="link-info text-decoration-none" href="https://telemanas.mohfw.gov.in/home" target="_blank">https://telemanas.mohfw.gov.in/home</a></li>
            <li class="list-group-item"><h4>Sangath</h4>Contact Number: 011-41198666 <br><a class="link-info text-decoration-none" href="https://www.sangath.in/" target="_blank">https://www.sangath.in/</a></li>
            <li class="list-group-item"><h4>iCALL</h4>
                Contact Number: 9152987821<br>
                <a class="link-info text-decoration-none" href="https://icallhelpline.org/" target="_blank">https://icallhelpline.org/</a></li>
            <li class="list-group-item"><h4>MPower Minds</h4>
                Contact Number: 1800-120-820050<br>
                <a class="link-info text-decoration-none" href="https://mpowerminds.com/oneonone" target="_blank">https://mpowerminds.com/oneonone</a></li>
            <li class="list-group-item"><h4>1Life Suicide Prevention & Crisis Support</h4>
                Contact Number: 7893078930<br>
                <a class="link-info text-decoration-none" href="https://1life.org.in/" target="_blank">https://1life.org.in/</a></li>       
        </ul>
    </div>
</div>
{%endblock content%}